body {
    font-family: "Segoe UI", Arial, sans-serif;
    color: #666666;
}

input {
    padding: 5px;
    border-radius: 3px;
    border-style: solid;
    border-color: #6c7ae0;
    color: #333333;
    font-size: 15px;
}
input[type="submit"] {
    background-color: #6c7ae0;
    color: #ffffff;
}
input:focus {
    border-color: #6c7ae0 !important;
    background-color: #f9faff;
}

button {
	outline: none !important;
	border: none;
	background: red;
}
button:hover {
	cursor: pointer;
}

.tablewrapper {
    width: 600px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px #dbdbdb solid;
}
table {
    width: 100%;
    margin: 0;
    border-collapse: collapse;
}
tr {
    background: #fff;
}
thead tr {
    color: #ffffff;
    background-color: #6c7ae0;
}
td,th {
    font-size: 15px;
    line-height: 1.2;
    padding: 10px;
    border-bottom: 1px solid #dbdbdb;
}
th {
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
}
tbody tr:hover {
    background-color: #ececff;
    cursor: pointer;
}